<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../css/img/tienda.jpg">
    <link rel="stylesheet" href="../css/principal/principal.css">
    <link rel="stylesheet" href="../css/principal/banner.css">
    <link rel="stylesheet" href="../css/principal/seccion.css">
    <link rel="stylesheet" href="../css/principal/footer.css">
    <link rel="stylesheet" href="../css/Lora.css">
    <title>Document</title>
</head>
<body>
    <section> 
        <div class="item-section">
            <img class="imgsection"  src="../css/img/mueble1.jpg" alt="mueble">
            <p>Titulo</p>
            <p>Marca</p>
            <p>Descripcion</p>
            <p>Precio</p>


            <button onclick="openForm()">
                Ver
                <i class="fa fa-eye"></i>
            </button>
        </div>
        <div class="item-section">
            <img class="imgsection" src="../css/img/mueble2.jpg" alt="mueble">
            <p>Titulo</p>
            <p>Marca</p>
            <p>Descripcion</p>
            <p>Precio</p>

            <button onclick="openForm()">
                Ver
                <i class="fa fa-eye"></i>
            </button>

        </div>
        <div class="item-section">
            <img class="imgsection" src="../css/img/mueble3.jpg" alt="mueble">
            <p>Titulo</p>
            <p>Marca</p>
            <p>Descripcion</p>
            <p>Precio</p>

            <button onclick="openForm()">
                Ver
                <i class="fa fa-eye"></i>
            </button>
        </div>
    </section>
    <section>
        <div class="item-section">
            <img class="imgsection" src="../css/img/mueble4.jpg" alt="mueble">
            <p>Titulo</p>
            <p>Marca</p>
            <p>Descripcion</p>
            <p>Precio</p>

            <button onclick="openForm()">
                Ver
                <i class="fa fa-eye"></i>
            </button>

        </div>
        <div class="item-section">
            <img class="imgsection" src="../css/img/mueble5.jpg" alt="mueble">
            <p>Titulo</p>
            <p>Marca</p>
            <p>Descripcion</p>
            <p>Precio</p>

            <button onclick="openForm()">
                Ver
                <i class="fa fa-eye"></i>
            </button>

        </div>
        <div class="item-section">
            <img class="imgsection" src="../css/img/mueble6.jpg" alt="mueble">
            <p>Titulo</p>
            <p>Marca</p>
            <p>Descripcion</p>
            <p>Precio</p>

            <button onclick="openForm()">
                Ver
                <i class="fa fa-eye"></i>
            </button>

        </div>
    </section>
    <section>
        <div class="item-section">
            <img class="imgsection" src="../css/img/mueble7.jpg" alt="mueble">
            <p>Titulo</p>
            <p>Marca</p>
            <p>Descripcion</p>
            <p>Precio</p>

            <button onclick="openForm()">
                Ver
                <i class="fa fa-eye"></i>
            </button>

        </div>
    </section>

    <script src="../js/awesome.js"></script>

    <script src="../js/principal.js">
</body>
</html>